<!-- Client/Shared/NavMenu.razor -->
<div class="top-bar">
    <div class="logo">
        <img src="logo.svg" alt="FakeStore Logo" />
        <span>FakeStore Blazor</span>
    </div>
    <nav class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink href="products" class="nav-link">
            <span class="oi oi-list" aria-hidden="true"></span> Products
        </NavLink>
        <NavLink href="add-product" class="nav-link">
            <span class="oi oi-plus" aria-hidden="true"></span> Add Product
        </NavLink>
    </nav>
</div>